.inspiration {
  margin-bottom: 39px;
  &__content {
    text-align: center;
    padding: 120px 5px;
    background: var(--c-primary);
    img {
      cursor: pointer;
    }
    &-title {
      margin: 24px 0;
      font: var(--txt-400-43-135);
      color: var(--c-text-white);
    }
    &-desc {
      font: var(--txt-400-14-171);
      letter-spacing: 0.06em;
      color: var(--c-text-white);
    }
  }
}
