:root {
  --html-fs: 1px;
  --ff: "Roboto", sans-serif;
  --transition: 0.2s all ease-in-out;

  --txt-400-43-135: normal 400 43px / 135% var(--ff);
  --txt-400-43: normal 400 43px / 107% var(--ff);
  --txt-400-33: normal 400 33px / 109% var(--ff);
  --txt-400-27: normal 400 27px / 111% var(--ff);
  --txt-400-15: normal 400 15px / 100% var(--ff);
  --txt-400-14-171: normal 400 14px / 171% var(--ff);
  --txt-400-14: normal 400 14px / 100% var(--ff);
  --txt-400-13-162: normal 400 13px / 162% var(--ff);
  --txt-400-13: normal 400 13px / 100% var(--ff);
  --txt-400-12: normal 400 12px / 175% var(--ff);
 

  --c-primary: #9aa8b1;
  --c-color-grey: #a0a0a0;
  --c-text-white: #fff;
  --c-color-black: #000;
  --c-background-backdrop: rgba(0, 0, 0, 0.6);
}
