html,
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:root {
  --html-fs: 1px;
  --ff: "Roboto", sans-serif;
  --transition: 0.2s all ease-in-out;
  --txt-400-43-135: normal 400 43px / 135% var(--ff);
  --txt-400-43: normal 400 43px / 107% var(--ff);
  --txt-400-34: normal 400 34px / 106% var(--ff);
  --txt-400-33: normal 400 33px / 109% var(--ff);
  --txt-400-27: normal 400 27px / 111% var(--ff);
  --txt-400-16: normal 400 16px / 150% var(--ff);
  --txt-400-15: normal 400 15px / 100% var(--ff);
  --txt-400-14-171: normal 400 14px / 171% var(--ff);
  --txt-400-14: normal 400 14px / 100% var(--ff);
  --txt-400-13-162: normal 400 13px / 162% var(--ff);
  --txt-400-13: normal 400 13px / 100% var(--ff);
  --txt-400-12: normal 400 12px / 175% var(--ff);
  --c-primary: #9aa8b1;
  --c-color-grey: #a0a0a0;
  --c-text-white: #fff;
  --c-color-black: #000;
  --c-background-backdrop: rgba(0, 0, 0, 0.6);
}

html {
  font-size: var(--html-fs);
}

body {
  font-size: 16px;
  --font-family: var(--ff);
  scroll-behavior: smooth;
}

.container {
  max-width: 1405px;
  margin-inline: auto;
  padding: 0 20px;
}
@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}

.header {
  padding: 29px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__backdrop {
  background: var(--c-background-backdrop);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  transform: translateX(120%);
  display: none;
  transition: var(--transition);
  opacity: 0;
}
@media (max-width: 480px) {
  .header__backdrop {
    display: block;
  }
}
.header__backdrop._active {
  opacity: 1;
  transform: translateX(0);
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
  z-index: 9;
}
@media (max-width: 480px) {
  .header__nav-list {
    z-index: 9;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--c-primary);
    transform: translateX(-120%);
    transition: var(--transition);
  }
}
.header__nav-list._active {
  transform: translateX(0);
}
.header__nav-list .icon-close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--c-text-white);
  border: 1px solid var(--c-text-white);
  border-radius: 50%;
  padding: 2px;
}
.header__nav-link {
  font: var(--txt-400-13);
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: var(--c-color-black);
  transition: var(--transition);
}
.header__nav-link:hover {
  opacity: 0.6;
}
@media (max-width: 480px) {
  .header__nav-link {
    color: var(--c-text-white);
  }
}
.header__logo {
  transition: var(--transition);
}
.header__logo:hover {
  opacity: 0.6;
}
.header__cart {
  font: var(--txt-400-14);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--c-color-black);
  transition: var(--transition);
}
.header__cart:hover {
  opacity: 0.6;
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;
}
@media (max-width: 480px) {
  .icon-menu,
  .icon-close {
    display: inline-block;
  }
}

.welcome {
  background-image: url(../img/welcome/welcome.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 504px;
  background-position: 50% center;
}
.welcome__content {
  padding-top: 188px;
  text-align: center;
  color: var(--c-text-white);
}
.welcome__content-title {
  font: var(--txt-400-43);
  margin-bottom: 12px;
}
.welcome__content-desc {
  font: var(--txt-400-15);
  letter-spacing: 0.05em;
  margin-bottom: 28px;
}
.welcome__content-txt {
  font: var(--txt-400-13);
  letter-spacing: 0.11em;
}

.design .container {
  padding: 80px 0 74px;
}
.design__content {
  text-align: center;
  margin-bottom: 81px;
}
@media (max-width: 576px) {
  .design__content {
    margin-bottom: 50px;
  }
}
.design__content-title {
  font: var(--txt-400-43-135);
  color: var(--c-color-black);
  margin-bottom: 23px;
}
.design__content-desc {
  font: var(--txt-400-14-171);
  letter-spacing: 0.06em;
  color: var(--c-color-grey);
  margin-bottom: 26px;
}
.design__content-txt {
  font: var(--txt-400-13-162);
  letter-spacing: 0.11em;
  color: var(--c-color-black);
}
.design__blocks {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .design__blocks {
    flex-wrap: wrap;
  }
}
.design__block {
  padding: 0 12.5px;
  text-align: center;
  transition: var(--transition);
}
.design__block:hover {
  opacity: 0.7;
}
.design__block-img {
  margin-bottom: 51px;
}
@media (max-width: 576px) {
  .design__block-img {
    margin-bottom: 30px;
  }
}
.design__block-title {
  font: var(--txt-400-27);
  color: var(--c-color-black);
  margin-bottom: 23px;
}
.design__block-desc {
  font: var(--txt-400-13);
  letter-spacing: 0.11em;
  color: var(--c-color-black);
  margin-bottom: 51px;
}
@media (max-width: 576px) {
  .design__block-desc {
    margin-bottom: 30px;
  }
}

.products {
  margin-bottom: 100px;
}
.products__content {
  text-align: center;
  margin-bottom: 75px;
}
.products__content-title {
  font: var(--txt-400-33);
  color: var(--c-color-black);
  margin-bottom: 16px;
}
.products__content-desc {
  font: var(--txt-400-15);
  letter-spacing: 0.05em;
  color: var(--c-color-grey);
}
.products__list {
  width: 100%;
  transition: var(--transition);
}
.products__list:hover {
  opacity: 0.7;
}
.products__list-name {
  padding-top: 22.39px;
  font: var(--txt-400-13-162);
  letter-spacing: 0.05em;
  color: var(--c-color-grey);
}
.products__list-price {
  font: var(--txt-400-12);
  letter-spacing: 0.06em;
  color: var(--c-color-grey);
}

.home {
  background-image: url(../img/home/home.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 504px;
  background-position: 50% center;
  margin-bottom: 120px;
}

.way {
  margin-bottom: 100px;
}
.way__content {
  text-align: center;
}
.way__content-title {
  font: var(--txt-400-34);
  color: var(--c-color-black);
  margin-bottom: 23px;
}
.way__content-desc {
  max-width: 777px;
  font: var(--txt-400-16);
  letter-spacing: 0.05em;
  color: var(--c-color-grey);
  margin-inline: auto;
  margin-bottom: 23px;
}
@media (max-width: 576px) {
  .way__content-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.work {
  margin-bottom: 120px;
}
.work__content {
  text-align: center;
  max-width: 790px;
  margin-inline: auto;
}
.work__content-title {
  font: var(--txt-400-34);
  color: var(--c-color-black);
  margin-bottom: 23px;
}
.work__content-desc {
  font: var(--txt-400-16);
  letter-spacing: 0.05em;
  color: var(--c-color-grey);
  margin-bottom: 23px;
}
@media (max-width: 576px) {
  .work__content-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
.work__img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 576px) {
  .work__img {
    gap: 10px;
  }
}
.work__img-photo {
  transition: var(--transition);
}
.work__img-photo:hover {
  opacity: 0.7;
}
.work__info {
  margin-top: 50px;
  text-align: center;
}
.work__info-title {
  font: var(--txt-400-34);
  color: var(--c-color-black);
  margin-bottom: 44px;
}
.work__info-desc {
  font: var(--txt-400-13-162);
  letter-spacing: 0.11em;
  color: var(--c-color-black);
}

/*# sourceMappingURL=styles.css.map */
